.form-group {
 padding: 100 100 0 0px;
 color: #fff;
}

h1 {
 padding-top: 50px;
 color: #fff;
 font-size: 30px;
}

.btn {
 background-color: #fff7af;
 color: #FF3B4E;
 border: none;
 margin: 30px 120;
}
